html
    head
        meta(charset="utf-8")
        title Admin | AP | Creation
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        script(src="jquery/jquery.min.js")
        script(src="js/index.js")
    body(class="container-fluid")
        div(class="row justify-content-center mt-4")
            div(class="col-sm-6") 
    

block content

        div(class="row")
            div(class="col-sm-6")
               h3(class="row justify-content-center") Ajouter un article            
            a(href="/" class="btn btn-primary col-md-4 container-fluid") Retour aux produits
        div(class="row justify-content-center mt-4")
            div(class="col-sm-6")  
 
        
form(method="post" action="/addProduit")
        div(class="row")                      
               
        div(class="row")
            div(class="form-group col-sm-6 container")
                label Désignation                                 
                input(type="text" class="form-control" name="designation" style="width:100%")
                        
            div(class="input-group col-sm-6 container")
                label Description                   
                textarea(class="form-control" aria-label="With textarea" name="description" style="width:100%")

        div(class="row")
            div(class="form-group col-sm-6 container")
                label Catégorie
                select(class="form-control" name="categorie" style="width:100%")
                       option(name="categorie" value="") Choisir une catégorie
                           each produit in produitList            
                            option(value=produit.id_categorie name="categorie") #{produit.categorie}                       

            div(class="form-group col-sm-6 container")
                label Quantité stockée
                input(type="number" class="form-control" name="qte_stockee" style="width:100%")
            
        div(class="row")
            div(class="form-group col-sm-6 container")              
                label Prix            
                input(type="number" class="form-control" name="prix" style="width:100%" placeholder="€")
                     

            div(class="form-group col-sm-6 container")
                label Photo
                input(type="file" class="form-control" name="photo" style="width:100%")                         
        button(type="submit" class="btn btn-success col-sm-6 container-fluid") Valider          